<div class=" text-center text-sm w-full justify-center">


  <%- if devise_mapping.omniauthable? %>

    <p class="flex w-full justify-center font-bold mt-1 mb-1"> or </p>

    <%= button_to "Log in with Google", omniauth_authorize_path(resource_name, :google_oauth2), data: { turbo: false }, class: "flex w-full justify-center rounded-md bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-indigo-600 shadow-sm hover:bg-indigo-100 outline outline-1  outline-grey-600" %>
  <% end %>

<!--  I think we are good with only one third-party auth, but I'm leaving the code to handle multiple here just in case-->
  <%#- if devise_mapping.omniauthable? %>
    <%#- resource_class.omniauth_providers.each do |provider| %>
<!--      <p class="text-indigo-600 hover:text-indigo-500">-->
        <%#= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "flex w-full justify-center rounded-md bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-indigo-600 shadow-sm hover:bg-indigo-100 outline outline-1  outline-grey-600" %>
<!--      </p>-->
    <%# end %>
  <%# end %>
  <br>
  <%- if controller_name != 'sessions' %>
    <p class="text-indigo-600 hover:text-indigo-500">
      <%= link_to "Log in", new_session_path(resource_name) %><br />
    </p>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p class="text-indigo-600 hover:text-indigo-500">
      <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
    </p>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p class="text-indigo-600 hover:text-indigo-500">
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
    </p>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <p class="text-indigo-600 hover:text-indigo-500" >
      <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
    </p>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="text-indigo-600 hover:text-indigo-500">
      <%= link_to "Sign up", new_registration_path(resource_name) %><br />
    </p>
  <% end %>

</div>
