<div id="<%#= dom_id user %>" class="grid grid-cols-8 m-12 h-full bg-gray-100 py-12 px-4">
  <!-- Profile pic -->
  <div class="col-span-1 flex items-center justify-center rounded-full bg-white h-36 w-36 ml-6">
    <i class="fa fa-user text-8xl"></i>
  </div>

  <div class="col-span-7 ml-10 mt-4">
    <h2 class="text-3xl font-semibold mb-3">
      <%= user.first_name %> <%= user.last_name %>
    </h2>
    <div class="mb-1">
      <strong><%= user.rating.round(2) %></strong> Average Rating
    </div>

    <div class="flex tracking-tight">
      <div class="pr-4">
        <strong><%= user.items.where(for_sale:false).length%></strong> Items Sold
      </div>

      <div>
        <strong><%= user.items.where(for_sale:true).length%></strong> Items on Sale
      </div>
    </div>
  </div>

  <div class="col-span-1 flex items-center ml-6 pt-2 justify-evenly text-xs">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    Joined <%= user.created_at.strftime("%b %Y") %>
  </div>

  <div class="col-span-8 border-t border-gray-200 my-8"></div>


  <div class="col-span-3 ml-6">
    <h2 class="text-xl font-semibold"> Categories from this seller </h2>

  </div>

  <div class="col-span-5 ml-6">
    <h2 class="text-xl font-semibold"> Seller feedback </h2>
  </div>
</div>