<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mx-auto w-full max-w-lg">
    <h2 class="mt-4 text-left text-2xl font-bold leading-9 tracking-tight text-gray-900">Leave a review!</h2>
  </div>

  <div class="mt-4 mx-auto w-full max-w-lg">
    <div class="grid grid-cols-8 mb-2">
      <div class="relative col-span-1 flex items-center justify-center rounded-full bg-gray-200 h-12 w-12 overflow-hidden">
        <img class="absolute text-gray-400 z-1 object-cover rounded-lg" src="<%= @reviewee.image_url %>" onerror="this.src='https://cdn-q16l3wg5.files-simplefileupload.com/static/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBL2FsQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--e1509662d3f3a28f04dd6a5127eb2b3981e73660/profilepic.jpg'" alt="" />
      </div>

      <div class="col-span-7 ml-1 mt-3">
        <h2 class="text-xl font-semibold mb-3">
          <%= @reviewee.first_name %> <%= @reviewee.last_name %>
        </h2>
      </div>
    </div>

    <div class="border border-t  border-gray-200"></div>

    <%= form_tag "/users/#{@reviewed_user_id}/review", method: 'post' do %>

      <div class="my-6">
        <%= label_tag 'review[rating]', "Overall Rating", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <div class="flex mt-2">
          <%= select_tag 'review[rating]',  raw("<option selected='selected'>5</option><option>4</option><option>3</option><option>2</option><option>1</option>"), class: "block w-14 rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
          <div class="font-semibold text-lg ml-1">
            / 5
          </div>
        </div>
      </div>

      <div class="border border-t  border-gray-200"></div>

      <div class="my-6">
        <div class="flex items-center justify-between">
          <%= label_tag 'Add a Title', nil, class: "block text-lg font-medium leading-6 text-gray-900" %>
        </div>
        <div class="mt-2">
          <%= text_field_tag "review[title]", nil, class: "block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
        </div>
      </div>

      <div class="border border-t  border-gray-200"></div>

      <div class="my-6">
        <div class="flex items-center justify-between">
          <%= label_tag 'review[content]', 'Add a written review', class: "block text-lg font-medium leading-6 text-gray-900" %>
        </div>
        <div class="mt-2">
          <%= text_area_tag 'review[content]', nil, rows: 4, class: "block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
        </div>
      </div>


      <br>

      <div class="relative flex justify-center w-full">
        <%= submit_tag "Submit", class: "flex absolute end-0 w-4/12 justify-center shadow-lg rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
      </div>
    <% end %>
  </div>
</div>


