<div id="<%= dom_id purchase %>">
  <p>
    <strong>Purchased from:</strong>
    <%= purchase.item.user_id %>
  </p>

  <p>
    <strong>Item ID:</strong>
    <%= purchase.item_id %>
  </p>

  <p>
    <strong>Item Description:</strong>
    <%= purchase.item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= purchase.item.price %>
  </p>
</div>
