<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow flex flex-col">
  <div class="flex-grow-3 flex">
    <a href="<%= item.image_url %>" class="flex justify-center w-full">
      <div class="flex justify-center h-[200px] overflow-hidden">
        <img class="object-cover mt-4 rounded-lg" src="<%= item.image_url %>" alt="product image" />
      </div>
    </a>

  </div>

  <!--Item Card body -->
  <div class="px-5 pb-5 flex-grow-3 relative">
    <!-- Star button -->
    <div class="flex-none absolute top-0 right-0 m-4">
      <% star_color = user_signed_in? && current_user.wishlist_items.include?(item) ? 'text-yellow-400' : 'text-gray-400' %>
      <%= button_to toggle_wishlist_path(item_id: item.id), remote: true, method: :post do %>
        <i class="fa fa-star fa-lg p-4 fill-current <%= star_color %> hover:text-yellow-500 star-button"></i>
      <% end %>
    </div>
    <%= link_to defined?(path_keyword) ?
                  send("#{path_keyword}_path", item) :
                  item_path(item) do %>
      <h5 class="text-xl font-semibold tracking-tight text-gray-900 "><%= item.description %></h5>
    <% end %>
    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"><%= item.category.name %></span>
    <% if item.for_sale %>
      <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">For Sale</span>
    <% else %>
      <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Not For Sale</span>
    <% end %>


    <!-- User name, avatar, and rating-->
    <div class="flex items-center mt-2.5 mb-5">
      <div class="flex items-center space-x-1 rtl:space-x-reverse text-sm">
        <div class="relative w-6 h-6 overflow-hidden bg-gray-100 rounded-full ">
          <svg class="absolute w-8 h-8 text-gray-400 -left-1 z-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
        </div>
        <p class="pl-1 pr-2">
          <%= item.user.first_name %> <%= item.user.last_name %>
        </p>
      </div>

      <!-- Rating -->
      <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
      </svg>
      <span class=" text-xs text-gray-500 font-normal py-0.5">
        <%= item.user.rating ? "#{item.user.rating}"[0..2] : 'NA' %>
      </span>

    </div>

    <!-- Price and details button -->
    <div class="flex items-center justify-between">
      <span class="text-3xl font-bold text-gray-900">$<%= number_with_precision(item.price, precision: 2) %></span>
      <% if defined?(path_keyword) && path_keyword == "edit_item" %>
        <%= link_to "Edit", defined?(path_keyword) ?
                              send("#{path_keyword}_path", item) :
                              edit_item_path(item), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
      <% else %>
        <%= link_to "Details", defined?(path_keyword) ?
                                 send("#{path_keyword}_path", item) :
                                 item_path(item), onclick: 'clearItemForm()', class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
      <% end %>
    </div>
  </div>
    <script>
    function clearItemForm() {
      sessionStorage.removeItem('formData');
    }
  </script>

</div>
