
<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-0 z-50">
    <!-- logo -->
    <!-- navigation -->
  <nav class="w-9/12 flex nav text-lg">
    <h1 class="text-4xl pr-4 py-4 self-center font-bold whitespace-nowrap align-baseline">
      <a href="/">
        Matt's
      </a>
    </h1>
    <ul class="flex items-left align-baseline">
      <%= link_to buyers_path do %>
        <li class="px-2 pb-3 pt-7 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active">
          Buy
        </li>
      <% end %>

      <%= link_to sellers_path do %>
        <li class="px-2 pb-3 pt-7 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
            Sell
        </li>
      <% end %>
    </ul>
  </nav>

    <!-- buttons --->
    <div class="w-3/12 flex justify-end">
      <ul class="flex items-right right-2">
        <% if user_signed_in? %>
          <%= link_to profile_show_path do %>
            <li class="px-3  pb-3 pt-8 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </li>
          <% end %>

          <%= link_to chats_path do %>
            <li class="px-3 pb-3 pt-8 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
                <i class="fa fa-comment" aria-hidden="true"></i>
            </li>
          <% end %>

          <%= button_to destroy_user_session_path, method: :delete do %>
            <li class="px-2 pb-3 pt-8 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
              Sign out
            </li>
          <% end  %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <li class="px-3 pb-3 pt-8 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
                Log in
            </li>
          <% end  %>
        <% end %>
      </ul>
    </div>
</header>
