<div id="<%= dom_id item %>">
  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= item.image_url %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category.name %>
  </p>

  <p>
    <strong>For sale:</strong>
    <%= item.for_sale %>
  </p>

</div>
