<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="my-5 text-2xl font-bold leading-9 tracking-tight text-gray-900">Sell new item</h2>
    <%= form_for @item do |f| %>
      <div class="mb-2">
        <%= f.label :price, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-1">
          <%= f.text_field :price, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: 'Enter price' %>
        </div>
      </div>

      <div class="mb-2">
        <%= f.label :description, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-1">
          <%= f.text_field :description, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: 'Enter description' %>
        </div>
      </div>
      <button onclick="showUpload()" class="w-56 text-black focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-8 py-2 bg-gray-200 hover:bg-gray-400 focus:ring-gray-200">
        Upload Image
      </button>
      <div class="mb-2">
        <div class="mt-1">
          <%= f.hidden_field :image_url, class: "simple-file-upload" %>
        </div>
      </div>


      <div class="mb-2">
        <%= f.label :category, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-1">
          <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <%= f.label :for_sale do %>
          <%= f.check_box :for_sale %>
          For Sale
        <% end %>
      </div>

      <div class = 'flex flex-col mt-3'>
        <%= f.submit value: 'Sell Item', id: 'submitButton', class: 'w-56 text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-8 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800 disabled:bg-gray-600 disabled:cursor-not-allowed' %>
      </div>
    <% end %>
  </div>

  <script>
    function showUpload() {
      event.preventDefault();
      location.reload(true);
    }

    document.addEventListener('DOMContentLoaded', function() {
      restoreFormData();
      window.addEventListener('beforeunload', function(event) {
        // Save form data before the page is unloaded
        saveFormData();
      });
    });

    function saveFormData() {
      const formData = {
        price: document.getElementById('item_price').value,
        description: document.getElementById('item_description').value,
        category: document.getElementById('item_category_id').value,
        for_sale: document.getElementById('item_for_sale').value,
      };

      sessionStorage.setItem('formData', JSON.stringify(formData));
    }

    function restoreFormData() {
      const storedData = sessionStorage.getItem('formData');

      if (storedData) {
        const formData = JSON.parse(storedData);
        document.getElementById('item_price').value = formData.price;
        document.getElementById('item_description').value = formData.description;
        document.getElementById('item_category_id').value = formData.category;
        document.getElementById('item_for_sale').value = formData.for_sale;
      }
    }

    const uploader = document.getElementById('item_image_url');

    uploader.addEventListener("fileUploadStarted", function (e) {
      document.getElementById('submitButton').disabled = true;
    });

    uploader.addEventListener("fileUploadSuccess", function (e) {
      document.getElementById('submitButton').disabled = false;
    });
  </script>

</div>
