<!-- Search button -->
<section class="relative bg-blue-800 z-0">
  <div class="py-4 px-4 mx-auto max-w-screen-xl text-left lg:py-8 z-10 relative">
    <h1 class="flex-shrink-0 mr-8 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl text-white">Items</h1>
    <%= form_tag(search_items_path, method: "get", class: "flex items-center") do %>
      <%= label_tag "search", "Search for items:", class: "sr-only text-white"%>
      <div class="relative flex items-center">
        <div class="absolute inset-y-0 rtl:inset-x-0 start-0 flex items-center pl-2 pointer-events-none">
          <i class="fa fa-search white text-gray-400" aria-hidden="true"></i>
        </div>

        <%= text_field_tag "search", params[:search], class: "block w-full p-2 pl-8 text-sm border rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-gray-800 border-gray-700 placeholder-gray-400 text-white", placeholder: "Enter your search terms", size: 50 %>

        <div class="form-group ml-4">
          <%= label_tag "category", "Category:" %>
          <%= select_tag "category", options_for_select(["Electronics", "Books", "Home", "Toys"], params[:category]), include_blank: "All Categories", class: "form-control" %>
        </div>

        <div class="form-group ml-4">
          <%= label_tag "price_range", "Price Range:" %>
          <%= select_tag "price_range", options_for_select(["$0-25", "$25-50", "$50-100", "$100-500", "> $500"], params[:price_range]), include_blank: "Any", class: "form-control" %>
        </div>

        <%= submit_tag "Search", class: "text-white ml-4 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-8 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800" %>
      </div>
    <% end %>
  </div>
</section>

<!-- Items -->
<div class="mb-10">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 py-4 px-4">
    <% @items.each do |item|%>
      <%= render "/shared/itemcard", item: item, path_keyword: 'edit_item' %>
    <% end %>
  </div>
</div>


