<div class="flex grid grid-cols-6 mx-48 my-4 gap-4">
  <div class="flex items-center col-span-6">
    <div class="font-bold text-6xl mr-4"> Matt's </div>
    <div class="font-semibold text-4xl mt-2"> Checkout </div>
  </div>

  <div class="col-span-4 mt-4 border p-4">
    <div class="text-lg font-semibold mb-2"> Review Item </div>
    <div class="text-sm text-gray-500 mb-4"> Seller: <%= @item.user.first_name ? @item.user.first_name : "Seller" %> <%= @item.user.last_name ? @item.user.last_name : "Seller" %> </div>

    <div class="grid grid-cols-6">
      <img src="<%= "https://assets.adidas.com/images/6bf7a2ffdaf4486ca607ae9300f5fcb6_9366/GW1876_00_plp_standard.jpgGW1876_00_plp_standard.jpg" %>" alt="product image" class="col-span-1 px-4 object-cover"/>
      <div class="col-span-5 ml-1">
        <div class="text-lg"><%= @item.description %></div>
        <div class="text-md text-gray-500 mb-2">Quantity: 1</div>
        <div class="font-semibold text-lg mb-10">US $<%= @item.price %></div>

        <div class="font-semibold text-md mb-1">Delivery arranged directly with seller</div>
        <div class="font-normal text-gray-500 text-xs">The delivery of items in <strong>Matt's Marketplace</strong> is done strictly from user to user. Any arrangements for delivery are left for the seller and buyer to arrange through our user-to-user chat function.</div>
      </div>
    </div>
  </div>

  <div class="col-span-2 mt-4 border p-10">
    <div class="flex justify-between ">
      <div class="text-sm">Subtotal (1 item)</div>
      <div class="text-md font-semibold"> $<%= @item.price %> </div>
    </div>
    <div class="flex justify-between">
      <div class="text-sm">Shipping</div>
      <div class="text-md font-semibold"> TBD </div>
    </div>
    <div class="flex justify-between">
      <div class="text-sm">Fee (2%)</div>
      <div class="text-md font-semibold"> $<%= sprintf("%.2f", @item.price * 0.02) %> </div>
    </div>

    <div class="border border-t border-gray-200 my-2"></div>

    <div class="flex justify-between mb-6">
      <div class="text-md font-semibold">Order total</div>
      <div class="text-md font-semibold"> $<%= sprintf("%.2f", @item.price * 1.02) %> </div>
    </div>

    <div class="bg-gray-100 text-gray-600 text-xs p-2 mb-4">
      <strong> Warning! </strong> Clicking confirm purchase will deduct the order total from your account balance and create a chat between you and the seller.
    </div>

    <%= form_with url: purchases_path, method: "post", model: @purchase do |form| %>
      <div class="flex items-center justify-center w-full">
        <%= form.hidden_field :item_id, value: @item.id %>
        <%= form.hidden_field :seller_id, value: @item.user.id %>
        <%= form.hidden_field :buyer_id, value: @user.id %>
        <%= form.submit "Confirm Purchase", class: "rounded-full w-full px-4 py-3 font-semibold text-center text-lg bg-blue-600 text-white hover:bg-blue-800" %>
      </div>
    <% end %>
  </div>
</div>

