
<div class="flex grid grid-cols-7 my-4 mx-12">
  <!-- Back button -->
  <div class="col-span-7 ">
    <%= link_to items_path do %>
      <div class="flex items-center">
        <div class="flex items-center justify-center rounded-full h-6 w-6  bg-gray-100 text-xs font-semibold mx-2">
          <
        </div>
        <div class="text-sm font-normal  underline">
          Back to items
        </div>
      </div>
    <% end %>
    </div>

    <!-- Image -->
    <img src="<%= @item.image_url ? @item.image_url : ""  %>" alt="product image" class="col-span-4 w-full h-max  mt-6 rounded-lg overflow-hidden object-cover w-full h-full"/>


    <!-- Item details and options -->
    <div class="col-span-3 w-full h-full px-8 pt-6 rounded-lg overflow-hidden">
      <div class="flex w-full items-center">
        <div class="font-semibold text-2xl mr-2"><%= @item.description %></div>

        <% if @item.for_sale %>
          <span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded"> For sale </span>
        <% else %>
          <span class="bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded"> Not for sale </span>
        <% end %>

        <% if @item.featured %>
          <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded "> Featured </span>
        <% end %>

      </div>


      <% created_at_suffix =  case @item.created_at.day
                   when 1, 21, 31
                     'st'
                   when 2, 22
                     'nd'
                   when 3, 23
                     'rd'
                   else
                     'th'
                   end
      %>
      <div class="font-normal text-gray-500 text-sm mb-2"> Item posted on <%= @item.created_at.strftime("%b %e#{created_at_suffix}, %Y") %></div>

      <!-- seller card -->
      <div class="flex grid grid-cols-6 items-center rounded-lg border border-1 h-2/12 w-auto">
        <img src="<%= @item.user.image_url ? @item.user.image_url : "" %>" alt="user image" class="col-span-1 rounded-full p-4 object-cover"/>

        <div class="col-span-5">
          <div class="flex items-start w-full h-full pt-5">
            <%= link_to @item.user do %>
              <div class="underline text-blue-800 font-semibold text-md hover:text-blue-400"><%= @item.user.first_name ? @item.user.first_name : "Seller" %></div>
            <% end %>
          </div>

          <div class="flex items-center w-full mb-5">
            <%= link_to(search_by_user_items_path(user_id: @item.user.id)) do %>
              <div class="text-sm font-normal underline mr-3 hover:text-gray-400">
                View items
              </div>
            <% end %>

            <a href="/users/<%= @item.user.id %>/review">
              <div class="text-sm font-normal underline hover:text-gray-400 mr-3">
                Leave a review
              </div>
            </a>

            <%= button_to chats_path, method: :post, params: { chat: { seller_id: @item.user_id, item_id: @item.id } } do %>
              <div class="flex items-start mb-1">
                <div class="text-sm font-normal underline hover:text-gray-400" >
                  Contact Seller
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="text-2xl font-semibold mt-6">
        US $<%= @item.price %>
      </div>
      <div class="text-sm font-normal">
        <% updated_at_suffix =  case @item.updated_at.day
                     when 1, 21, 31
                       'st'
                     when 2, 22
                       'nd'
                     when 3, 23
                       'rd'
                     else
                       'th'
                     end
        %>

        Price last updated at <%= @item.updated_at.strftime("%b %e#{updated_at_suffix}, %Y at %I:%M %p") %>
      </div>

      <div class="flex items-center justify-center w-full mt-72">
        <div class="w-10/12 mr-6">
          <% if @item.for_sale %>
            <%= link_to checkout_buyer_path(@item) do %>
              <div class="rounded-full font-semibold text-center text-lg bg-blue-600 text-white py-3 hover:bg-blue-800 mb-2">
                Buy It Now
              </div>
            <% end %>
          <% end %>


            <%= button_to toggle_wishlist_path, method: :post, remote: true, class: "flex items-center justify-center rounded-full font-semibold text-center text-lg border border-blue-600 text-blue-600 py-3 hover:bg-gray-200 w-full", id: 'star-button', params: { item_id: @item.id } do %>
              <% if !@current_user.nil? and @current_user.wishlist_items.include? @item %>
                Remove from wishlist
              <% else %>
                Add to wishlist
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
</div>
