<div class="flex">
  <%= render partial: 'shared/profile_sidebar' %>
  <div class="flex-grow p-10">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
    <%= form_for @user, url: profile_update_path, method: :patch do |f| %>
      <!-- image uploading -->
      <div class="mt-10 flex items-center">
        <button type="button" onclick="showUpload()" class="w-56 text-black focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-8 py-2 bg-gray-200 hover:bg-gray-400 focus:ring-gray-200">
          Upload Profile Picture
        </button>
        <div class="ml-2 mt-1">
          <%= f.hidden_field :image_url, class: "simple-file-upload" %>
        </div>
      </div>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <%= f.label :first_name, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :first_name, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= f.label :last_name, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :last_name, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>
      </div>


      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <%= f.label :country, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :country, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= f.label :city, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :city, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :email, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="mt-6 flex items-center justify-end gap-x-6">
  <button type="button" class="text-sm font-semibold leading-6 text-gray-900"><a href="/profile/show"> Cancel </a>
  </button>

  <div class = 'flex flex-col m-4'>
    <%= f.submit value: 'Update Profile', id: 'submitButton', class: 'w-56 text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-8 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800 disabled:bg-gray-600 disabled:cursor-not-allowed' %>
  </div>

<% end %>
<script>
  function showUpload() {
    event.preventDefault();
    location.reload(true);
  }

  document.addEventListener('DOMContentLoaded', function() {
    restoreFormData();
    window.addEventListener('beforeunload', function(event) {
      // Save form data before the page is unloaded
      saveFormData();
    });
  });

  function saveFormData() {
    const formData = {
      user_first_name: document.getElementById('user_first_name').value,
      user_last_name: document.getElementById('user_last_name').value,
      user_country: document.getElementById('user_country').value,
      user_city: document.getElementById('user_city').value,
      user_email: document.getElementById('user_email').value,
    };

    sessionStorage.setItem('formData', JSON.stringify(formData));
  }

  function restoreFormData() {
    const storedData = sessionStorage.getItem('formData');

    if (storedData) {
      const formData = JSON.parse(storedData);
      document.getElementById('user_first_name').value = formData.user_first_name;
      document.getElementById('user_last_name').value = formData.user_last_name;
      document.getElementById('user_country').value = formData.user_country;
      document.getElementById('user_city').value = formData.user_city;
      document.getElementById('user_email').value = formData.user_email;
    }
  }
  const uploader = document.getElementById('user_image_url');

  uploader.addEventListener("fileUploadStarted", function (e) {
    document.getElementById('submitButton').disabled = true;
  });

  uploader.addEventListener("fileUploadSuccess", function (e) {
    document.getElementById('submitButton').disabled = false;
  });

</script>

</div>
