<!DOCTYPE html>
<html>
  <head>
    <title>MattsMarketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!--This will add the notice and alert flash messages to any view that derives from this view-->
    <!--Required by devise gem-->
    <% if flash[:notice].present? %>
      <div class="flash notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="flash alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <!-- Rest of page content -->
    <%= yield %>
  </body>
</html>
