<!DOCTYPE html>
<html>
  <head>
    <title>Matt's Marketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!--  javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  This is for toggling the star icon-->
    <%= javascript_importmap_tags %>

    <!-- Link to icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Link to tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Styles for messages (I tried so many other ways to do this, but this is the only one that worked) -->
    <style>
      .msg-general {
          word-wrap: break-word;
      }
      <%= ".msg-#{current_user&.id}" %> {
          background-color: #007bff !important;
          color: white;
          word-wrap: break-word;
      }
      <%= ".cont-#{current_user&.id}" %> {
          display: flex;
          justify-content: flex-end
      }
      <%= ".msg-time-#{current_user&.id}" %> {
          color: #d4d4d8 !important;
      }
      <%= ".msg-author-#{current_user&.id}" %> {
          opacity: 0;
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <%= render "/shared/navbar" %>

    <% if @sidebar_present %>
      <%= render "/shared/sidebar" %>
    <% end %>

    <!--This will add the notice and alert flash messages to any view that derives from this view-->
    <!--Required by devise gem-->
    <% if flash[:notice].present? %>
      <div class="flash notice <%= 'ml-64' if @sidebar_present %>">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="flash alert <%= 'ml-64' if @sidebar_present %>">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <!-- Rest of page content -->
    <%= yield %>
  </body>
</html>
